parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Admin\\Entity\\Document\:\:\$category type mapping mismatch\: property can contain App\\Admin\\Domain\\DocumentCategory\|null but database expects App\\Admin\\Domain\\DocumentCategory\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/Document.php

		-
			message: '#^Property App\\Admin\\Entity\\Document\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/Document.php

		-
			message: '#^Property App\\Admin\\Entity\\Document\:\:\$nameEn type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/Document.php

		-
			message: '#^Property App\\Admin\\Entity\\Document\:\:\$nameFr type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/Document.php

		-
			message: '#^Property App\\Admin\\Entity\\Document\:\:\$slug type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/Document.php

		-
			message: '#^Property App\\Admin\\Entity\\DocumentRequest\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/DocumentRequest.php

		-
			message: '#^Property App\\Admin\\Entity\\DocumentRequest\:\:\$typology type mapping mismatch\: property can contain App\\Admin\\Domain\\HouseholdTypology\|null but database expects App\\Admin\\Domain\\HouseholdTypology\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/DocumentRequest.php

		-
			message: '#^Property App\\Admin\\Entity\\PersonRequest\:\:\$documentRequest type mapping mismatch\: property can contain App\\Admin\\Entity\\DocumentRequest\|null but database expects App\\Admin\\Entity\\DocumentRequest\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Admin/Entity/PersonRequest.php

		-
			message: '#^Property App\\Admin\\Entity\\PersonRequest\:\:\$firstName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/PersonRequest.php

		-
			message: '#^Property App\\Admin\\Entity\\PersonRequest\:\:\$lastName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/PersonRequest.php

		-
			message: '#^Property App\\Admin\\Entity\\PersonRequest\:\:\$role type mapping mismatch\: property can contain App\\Admin\\Domain\\PersonRole\|null but database expects App\\Admin\\Domain\\PersonRole\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Admin/Entity/PersonRequest.php

		-
			message: '#^Offset ''firstName'' on array\{firstName\: string, lastName\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Admin/Twig/Components/DocumentRequestForm.php

		-
			message: '#^Offset ''lastName'' on array\{firstName\: string, lastName\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Admin/Twig/Components/DocumentRequestForm.php

		-
			message: '#^Method KnpU\\OAuth2ClientBundle\\Client\\OAuth2ClientInterface\:\:redirect\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Auth/Controller/GoogleAuthController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Form\\FormInterface\<mixed\>\:\:getStepForm\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Auth/Controller/RegisterController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Form\\FormInterface\<mixed\>\:\:isFinished\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Auth/Controller/RegisterController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Form\\FormInterface\<mixed\>\:\:reset\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Auth/Controller/RegisterController.php

		-
			message: '#^Property App\\Auth\\Entity\\ResetPasswordRequest\:\:\$user type mapping mismatch\: property can contain App\\Auth\\Entity\\User\|null but database expects App\\Auth\\Entity\\User\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Auth/Entity/ResetPasswordRequest.php

		-
			message: '#^Property App\\Auth\\Entity\\User\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Auth/Entity/User.php

		-
			message: '#^Property App\\Auth\\Entity\\User\:\:\$email type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Auth/Entity/User.php

		-
			message: '#^Property App\\Auth\\Entity\\User\:\:\$firstName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Auth/Entity/User.php

		-
			message: '#^Property App\\Auth\\Entity\\User\:\:\$lastName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Auth/Entity/User.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Auth/Security/GoogleAuthenticator.php

		-
			message: '#^Method App\\Auth\\Security\\GoogleAuthenticator\:\:onAuthenticationFailure\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Auth/Security/GoogleAuthenticator.php

		-
			message: '#^Method App\\Auth\\Security\\GoogleAuthenticator\:\:onAuthenticationSuccess\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Auth/Security/GoogleAuthenticator.php

		-
			message: '#^Method App\\Auth\\Security\\GoogleAuthenticator\:\:supports\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Auth/Security/GoogleAuthenticator.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Auth/Security/GoogleAuthenticator.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Blog/Controller/BlogController.php

		-
			message: '#^Property App\\Contact\\Entity\\Contact\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Contact/Entity/Contact.php

		-
			message: '#^Property App\\Contact\\Entity\\Contact\:\:\$firstName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Contact/Entity/Contact.php

		-
			message: '#^Property App\\Contact\\Entity\\Contact\:\:\$helpType type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Contact/Entity/Contact.php

		-
			message: '#^Property App\\Contact\\Entity\\Contact\:\:\$lang type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Contact/Entity/Contact.php

		-
			message: '#^Property App\\Contact\\Entity\\Contact\:\:\$lastName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Contact/Entity/Contact.php

		-
			message: '#^Property App\\Contact\\Entity\\ContactEvent\:\:\$contact type mapping mismatch\: property can contain App\\Contact\\Entity\\Contact\|null but database expects App\\Contact\\Entity\\Contact\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Contact/Entity/ContactEvent.php

		-
			message: '#^Property App\\Contact\\Entity\\ContactNote\:\:\$contact type mapping mismatch\: property can contain App\\Contact\\Entity\\Contact\|null but database expects App\\Contact\\Entity\\Contact\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Contact/Entity/ContactNote.php

		-
			message: '#^Property App\\Dossier\\Entity\\Dossier\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/Dossier.php

		-
			message: '#^Property App\\Dossier\\Entity\\Dossier\:\:\$name type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/Dossier.php

		-
			message: '#^Property App\\Dossier\\Entity\\Dossier\:\:\$pairingCode type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/Dossier.php

		-
			message: '#^Property App\\Dossier\\Entity\\Dossier\:\:\$reference type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/Dossier.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocument\:\:\$person type mapping mismatch\: property can contain App\\Dossier\\Entity\\DossierPerson\|null but database expects App\\Dossier\\Entity\\DossierPerson\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierDocument.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocument\:\:\$requestedAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocument.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocument\:\:\$type type mapping mismatch\: property can contain App\\Dossier\\Domain\\DossierDocumentType\|null but database expects App\\Dossier\\Domain\\DossierDocumentType\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocument.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$document type mapping mismatch\: property can contain App\\Dossier\\Entity\\DossierDocument\|null but database expects App\\Dossier\\Entity\\DossierDocument\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$mimeType type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$originalName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$size type mapping mismatch\: property can contain int\|null but database expects int\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$storedName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierDocumentFile\:\:\$uploadedAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierDocumentFile.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierEvent\:\:\$dossier type mapping mismatch\: property can contain App\\Dossier\\Entity\\Dossier\|null but database expects App\\Dossier\\Entity\\Dossier\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierEvent.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierNote\:\:\$dossier type mapping mismatch\: property can contain App\\Dossier\\Entity\\Dossier\|null but database expects App\\Dossier\\Entity\\Dossier\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierNote.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$dossier type mapping mismatch\: property can contain App\\Dossier\\Entity\\Dossier\|null but database expects App\\Dossier\\Entity\\Dossier\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$email type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$firstName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$language type mapping mismatch\: property can contain App\\Dossier\\Domain\\ContactLanguage\|null but database expects App\\Dossier\\Domain\\ContactLanguage\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$lastName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierPerson\:\:\$role type mapping mismatch\: property can contain App\\Dossier\\Domain\\DossierPersonRole\|null but database expects App\\Dossier\\Domain\\DossierPersonRole\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Dossier/Entity/DossierPerson.php

		-
			message: '#^Property App\\Dossier\\Entity\\DossierSearch\:\:\$dossier type mapping mismatch\: property can contain App\\Dossier\\Entity\\Dossier\|null but database expects App\\Dossier\\Entity\\Dossier\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Dossier/Entity/DossierSearch.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Dossier/Service/DossierDocumentRefusalMailer.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Dossier/Service/DossierDocumentRequestMailer.php

		-
			message: '#^Method App\\Dossier\\Twig\\Components\\DossierCreate\:\:create\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Dossier/Twig/Components/DossierCreate.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Dossier/Twig/Components/PersonsManager.php

		-
			message: '#^Parameter \$arrondissements of class App\\Marketplace\\Filter\\PropertySearchCriteria constructor expects array\<int, int\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Marketplace/Twig/Components/MarketplaceSearch.php

		-
			message: '#^Property App\\Newsletter\\Controller\\NewsletterController\:\:\$logger is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Newsletter/Controller/NewsletterController.php

		-
			message: '#^Property App\\Newsletter\\Entity\\Newsletter\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Newsletter/Entity/Newsletter.php

		-
			message: '#^Property App\\Newsletter\\Entity\\Newsletter\:\:\$email type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Newsletter/Entity/Newsletter.php

		-
			message: '#^Property App\\Newsletter\\Entity\\Newsletter\:\:\$subscribe type mapping mismatch\: property can contain bool\|null but database expects bool\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Newsletter/Entity/Newsletter.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$address type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$bathroom type mapping mismatch\: property can contain int\|null but database expects int\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$bedroom type mapping mismatch\: property can contain int\|null but database expects int\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$email type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$ip type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$phoneNumber type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$propertyCondition type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Property App\\PropertyEstimation\\Entity\\PropertyEstimation\:\:\$surface type mapping mismatch\: property can contain int\|null but database expects int\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/PropertyEstimation/Entity/PropertyEstimation.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface\:\:getFlashBag\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/PropertyListing/Controller/PropertyListingController.php

		-
			message: '#^Property App\\RealEstateAgent\\Entity\\Agency\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/RealEstateAgent/Entity/Agency.php

		-
			message: '#^Property App\\RealEstateAgent\\Entity\\Agency\:\:\$name type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/RealEstateAgent/Entity/Agency.php

		-
			message: '#^Property App\\RealEstateAgent\\Entity\\RealEstateAgent\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/RealEstateAgent/Entity/RealEstateAgent.php

		-
			message: '#^Property App\\RealEstateAgent\\Entity\\RealEstateAgent\:\:\$firstName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/RealEstateAgent/Entity/RealEstateAgent.php

		-
			message: '#^Property App\\RealEstateAgent\\Entity\\RealEstateAgent\:\:\$lastName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/RealEstateAgent/Entity/RealEstateAgent.php

		-
			message: '#^Method App\\RealEstateAgent\\Twig\\Components\\AgentCreate\:\:create\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/RealEstateAgent/Twig/Components/AgentCreate.php

		-
			message: '#^Property App\\Visit\\Entity\\Visit\:\:\$address type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Visit/Entity/Visit.php

		-
			message: '#^Property App\\Visit\\Entity\\Visit\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Visit/Entity/Visit.php

		-
			message: '#^Property App\\Visit\\Entity\\Visit\:\:\$dossier type mapping mismatch\: property can contain App\\Dossier\\Entity\\Dossier\|null but database expects App\\Dossier\\Entity\\Dossier\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Visit/Entity/Visit.php

		-
			message: '#^Property App\\Visit\\Entity\\Visit\:\:\$scheduledAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Visit/Entity/Visit.php

		-
			message: '#^Property App\\Tests\\Admin\\CsrfLiveActionTest\:\:\$adminPrefix is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Admin/CsrfLiveActionTest.php

		-
			message: '#^Method App\\Tests\\Auth\\RegisterControllerTest\:\:registerOneUser\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/Auth/RegisterControllerTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\RawMessage\:\:getHtmlBody\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Auth/Service/EmailVerificationCodeServiceTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\RawMessage\:\:getAttachments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Controller/PropertyListingControllerTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\RawMessage\:\:getTo\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Controller/PropertyListingControllerTest.php

		-
			message: '#^Cannot call method upload\(\) on array\<array\<Symfony\\Component\\DomCrawler\\Field\\FormField\>\|Symfony\\Component\\DomCrawler\\Field\\FormField\>\|Symfony\\Component\\DomCrawler\\Field\\FormField\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/Dossier/DepositTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\RawMessage\:\:getHtmlBody\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Dossier/ModulesTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Mime\\RawMessage\:\:getTo\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Dossier/ModulesTest.php

		-
			message: '#^Offset ''lat'' does not exist on array\{address\: string, type\: string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/Dossier/SearchEditorTest.php

		-
			message: '#^Cannot call method tick\(\) on array\<array\<Symfony\\Component\\DomCrawler\\Field\\FormField\>\|Symfony\\Component\\DomCrawler\\Field\\FormField\>\|Symfony\\Component\\DomCrawler\\Field\\FormField\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Flow/ContactFlowTest.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\RealEstateAgent\\Entity\\Agency\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: tests/RealEstateAgent/AgentCreateTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
