<turbo-stream action="replace" target="contact-form">
    <template>
        <div class="p-3 lg:p-8 rounded-xl bg-linear-to-b from-neutral-100 to-neutral-100/0" id="contact-form" data-turbo="true">
            <twig:Contact:ContactForm :form="contactForm" />
        </div>
    </template>
</turbo-stream>
