{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin.users.title'|trans }}{% endblock %}
{% block page_title %}{{ 'admin.users.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin.users.subtitle'|trans }}{% endblock %}

{% block body %}
    <div class="space-y-8" data-testid="users-page">
        <twig:Admin:UserList adminPrefix="{{ adminPrefix }}" />
    </div>
{% endblock %}
