{% if app.user and is_granted('ROLE_ADMIN') %}
    <div class="relative items-center justify-between z-50 gap-x-6 bg-white border-b border-gray-200 shadow-md sm:pr-3.5 lg:pl-8">
        <div class="max-w-7xl mx-auto px-6 py-2.5 flex flex-col gap-6 sm:flex-row items-center justify-between">
            <div class="flex-1 flex items-center gap-x-2.5">
                <div class="flex-shrink-0 rounded-full bg-red-900 px-2 py-0.5">
                    <p class="text-xs text-white">Admin</p>
                </div>
                <p class="text-sm/6 text-gray-900">
                    {{ app.user.firstName }} {{ app.user.Lastname }}
                </p>
            </div>
            <div class="flex items-center gap-x-2">
                <a href="{{ path('app_logout') }}" class="shrink-0  text-xs bg-transparent px-3 py-2 rounded-full border-gray-700 border text-gray-900 hover:bg-gray-100 transition duration-100 font-semibold">{{ 'adminTab.logout'|trans|raw }}</a>
            </div>
        </div>
    </div>
{% endif %}
