{% extends 'public/base.html.twig' %}

{% block title %}500{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-30">
        <div class="flex justify-center flex-col items-center w-full">
            <svg class="w-full max-w-2xl h-auto" viewBox="0 0 766 282" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M204.903 0.5V61.3848H80.7764L75.4688 121.348H76.2412C80.6366 112.994 88.1382 106.093 98.7012 100.633C109.394 95.0154 121.794 92.2148 135.887 92.2148C152.422 92.2149 167.168 96.0557 180.111 103.749H180.11C193.136 111.438 203.403 122.067 210.908 135.629L211.609 136.899C218.739 150.085 222.254 165.214 222.167 182.27L222.161 184.075C221.964 202.667 217.358 219.242 208.334 233.786C199.111 248.706 186.137 260.412 169.427 268.902L169.425 268.903C152.708 277.307 133.071 281.5 110.53 281.5C89.251 281.5 70.3405 277.758 53.8105 270.261L53.8076 270.26C37.373 262.675 24.3984 252.236 14.9014 238.94L14.9004 238.938C5.48679 225.633 0.692633 210.336 0.511719 193.067L0.506836 192.562H74.3301L74.3438 193.048C74.6096 202.44 78.2339 209.897 85.2158 215.465C92.3132 221.053 100.743 223.853 110.53 223.853C118.101 223.853 124.758 222.25 130.519 219.06C136.279 215.779 140.798 211.173 144.081 205.229C147.36 199.291 148.963 192.366 148.874 184.436V184.424C148.963 176.402 147.359 169.479 144.082 163.634L144.081 163.631C140.798 157.686 136.278 153.125 130.519 149.935L130.514 149.932C124.754 146.653 118.098 145.007 110.53 145.007C102.703 145.007 95.4606 146.918 88.7939 150.74L88.792 150.741C82.2259 154.468 77.3987 159.651 74.2969 166.298L74.1318 166.653L73.748 166.577L7.92871 153.629L7.49512 153.544L7.52637 153.104L18.3164 0.964844L18.3496 0.5H204.903Z" fill="url(#paint0_linear_3666_115361)" stroke="url(#paint1_linear_3666_115361)"/>
                <path d="M373.09 0.5C397.475 0.500041 418.567 5.94624 436.346 16.8584L437.177 17.3691C454.554 28.1786 467.977 43.8036 477.448 64.2227C487.071 84.9681 491.827 110.129 491.74 139.687C491.74 169.42 486.94 194.885 477.319 216.066C467.849 236.915 454.429 252.971 437.054 264.212L436.223 264.743C418.53 275.921 397.478 281.5 373.09 281.5H373.088C348.699 281.412 327.605 275.746 309.825 264.48C292.047 253.216 278.35 236.983 268.729 215.804C259.108 194.622 254.351 169.244 254.438 139.686C254.526 110.041 259.327 84.8381 268.861 64.0938L268.862 64.0918C278.484 43.3492 292.139 27.5535 309.832 16.7275L309.833 16.7266C327.612 5.90187 348.704 0.5 373.09 0.5ZM373.09 60.3369C360.753 60.3369 350.66 66.6047 342.801 79.2744C335.192 91.5418 331.151 110.799 330.748 137.12L330.721 139.689C330.634 158.485 332.418 173.928 336.058 186.033C339.702 198.066 344.719 206.902 351.074 212.598H351.073C357.521 218.298 364.854 221.138 373.09 221.138C385.421 221.138 395.559 214.701 403.508 201.678V201.677C411.537 188.577 415.545 167.941 415.458 139.688V139.687C415.458 121.241 413.631 106.193 409.992 94.5264C406.349 82.846 401.334 74.2725 394.98 68.751L394.978 68.748C388.618 63.1352 381.329 60.337 373.09 60.3369Z" fill="url(#paint2_linear_3666_115361)" stroke="url(#paint3_linear_3666_115361)"/>
                <path d="M645.09 0.5C669.475 0.500041 690.567 5.94624 708.346 16.8584L709.177 17.3691C726.554 28.1786 739.977 43.8036 749.448 64.2227C759.071 84.9681 763.827 110.129 763.74 139.687C763.74 169.42 758.94 194.885 749.319 216.066C739.849 236.915 726.429 252.971 709.054 264.212L708.223 264.743C690.53 275.921 669.478 281.5 645.09 281.5H645.088C620.699 281.412 599.605 275.746 581.825 264.48C564.047 253.216 550.35 236.983 540.729 215.804C531.108 194.622 526.351 169.244 526.438 139.686C526.526 110.041 531.327 84.8381 540.861 64.0938L540.862 64.0918C550.484 43.3492 564.139 27.5535 581.832 16.7275L581.833 16.7266C599.612 5.90187 620.704 0.5 645.09 0.5ZM645.09 60.3369C632.753 60.3369 622.66 66.6047 614.801 79.2744C607.192 91.5418 603.151 110.799 602.748 137.12L602.721 139.689C602.634 158.485 604.418 173.928 608.058 186.033C611.702 198.066 616.719 206.902 623.074 212.598H623.073C629.521 218.298 636.854 221.138 645.09 221.138C657.421 221.138 667.559 214.701 675.508 201.678V201.677C683.537 188.577 687.545 167.941 687.458 139.688V139.687C687.458 121.241 685.631 106.193 681.992 94.5264C678.349 82.846 673.334 74.2725 666.98 68.751L666.978 68.748C660.618 63.1352 653.329 60.337 645.09 60.3369Z" fill="url(#paint4_linear_3666_115361)" stroke="url(#paint5_linear_3666_115361)"/>
                <defs>
                    <linearGradient id="paint0_linear_3666_115361" x1="111.34" y1="1" x2="110.963" y2="231.13" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_3666_115361" x1="111.34" y1="1" x2="116.079" y2="248.812" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_3666_115361" x1="373.09" y1="1" x2="372.737" y2="231.13" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_3666_115361" x1="373.09" y1="1" x2="377.515" y2="248.824" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_3666_115361" x1="645.09" y1="1" x2="644.737" y2="231.13" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear_3666_115361" x1="645.09" y1="1" x2="649.515" y2="248.824" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                </defs>
            </svg>

            <div class="text-center space-y-4">
                <h1 class="text-pretty font-semibold text-2xl lg:text-3xl text-primary">{{ 'error.500.title'|trans|raw }}</h1>
                <p class="text-pretty mx-auto text-slate-600 font-light max-w-sm">{{ 'error.500.text'|trans|raw }}</p>
                <twig:Button variant="default" as="a" size="lg" href="{{ path('app_home') }}" class="mt-3">
                    {{ 'error.500.button'|trans|raw }}
                </twig:Button>
            </div>
        </div>
    </section>
{% endblock %}
