{% extends 'base.html.twig' %}

{% block title %}403{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-30">
        <div class="flex justify-center flex-col items-center w-full">
            <svg class="w-full max-w-2xl h-auto" viewBox="0 0 770 282" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M205.261 6.43457V176.643H236.105V234.379H205.261V276.405H134.731V234.379H4.55859V176.998L4.63574 176.876L112.329 6.66699L112.477 6.43457H205.261ZM77.1797 175.186V176.643H136.3V83.083H134.984L77.1797 175.186Z" fill="url(#paint0_linear_3666_113926)" stroke="url(#paint1_linear_3666_113926)"/>
                <path d="M391.301 0.5C415.686 0.500041 436.778 5.94624 454.557 16.8584L455.388 17.3691C472.765 28.1786 486.188 43.8036 495.659 64.2227C505.282 84.9681 510.038 110.129 509.951 139.687C509.951 169.42 505.151 194.885 495.53 216.066C486.06 236.915 472.64 252.971 455.265 264.212L454.434 264.743C436.74 275.921 415.689 281.5 391.301 281.5H391.299C366.91 281.412 345.816 275.746 328.036 264.48C310.258 253.216 296.561 236.983 286.94 215.804C277.319 194.622 272.562 169.244 272.649 139.686C272.737 110.041 277.538 84.8381 287.072 64.0938L287.073 64.0918C296.695 43.3492 310.35 27.5535 328.043 16.7275L328.044 16.7266C345.823 5.90187 366.915 0.5 391.301 0.5ZM391.301 60.3369C378.964 60.3369 368.871 66.6047 361.012 79.2744C353.403 91.5418 349.362 110.799 348.959 137.12L348.932 139.689C348.845 158.485 350.629 173.928 354.269 186.033C357.913 198.066 362.93 206.902 369.285 212.598H369.284C375.731 218.298 383.065 221.138 391.301 221.138C403.632 221.138 413.77 214.701 421.719 201.678V201.677C429.748 188.577 433.756 167.941 433.669 139.688V139.687C433.669 121.241 431.842 106.193 428.203 94.5264C424.56 82.846 419.545 74.2725 413.191 68.751L413.188 68.748C406.829 63.1352 399.54 60.337 391.301 60.3369Z" fill="url(#paint2_linear_3666_113926)" stroke="url(#paint3_linear_3666_113926)"/>
                <path d="M655.528 0.5C675.723 0.500015 693.582 3.92508 709.094 10.7891C724.689 17.6509 736.875 27.1072 745.629 39.166H745.628C754.475 51.1418 758.853 64.8624 758.766 80.3096C758.945 95.7024 753.658 108.352 742.9 118.213L742.899 118.212C732.35 127.963 718.998 133.748 702.872 135.589V136.827C724.72 139.272 741.24 146.025 752.362 157.146C763.555 168.25 769.059 182.224 768.88 199.028C768.968 215.104 764.14 229.361 754.401 241.781C744.757 254.194 731.328 263.912 714.14 270.948C697.034 277.986 677.316 281.5 654.996 281.5C633.469 281.5 614.323 277.809 597.569 270.412L597.566 270.41C580.907 262.927 567.793 252.628 558.242 239.507C548.684 226.376 543.863 211.279 543.773 194.234L543.771 193.732H619.29L619.298 194.224C619.385 199.354 620.948 203.955 623.99 208.04C627.123 212.04 631.395 215.182 636.824 217.459C642.253 219.736 648.485 220.88 655.528 220.88C662.301 220.88 668.261 219.693 673.419 217.332C678.578 214.882 682.585 211.524 685.456 207.261C688.323 203.004 689.716 198.137 689.629 192.643V192.627C689.716 187.244 688.069 182.479 684.684 178.312L684.68 178.307C681.374 174.131 676.707 170.85 670.65 168.48C664.598 166.112 657.608 164.922 649.673 164.922H621.492V112.819H649.673C656.983 112.819 663.39 111.63 668.905 109.267L668.908 109.266C674.517 106.899 678.83 103.624 681.873 99.4502L681.877 99.4453C685.002 95.2787 686.523 90.508 686.436 85.1143L686.435 85.1064L686.436 85.0977C686.523 79.865 685.259 75.263 682.657 71.2734C680.05 67.2757 676.396 64.14 671.68 61.8691L671.677 61.8672C667.055 59.5998 661.676 58.458 655.528 58.458C648.847 58.458 642.885 59.6435 637.637 62.0049L637.638 62.0059C632.475 64.3685 628.421 67.6419 625.461 71.8213C622.506 75.9929 620.983 80.7733 620.896 86.1787L620.887 86.6709H549.094L549.097 86.168C549.186 69.3933 553.783 54.5641 562.896 41.6992L562.897 41.6973C572.092 28.8432 584.673 18.7651 600.624 11.458C616.581 4.14818 634.886 0.5 655.528 0.5Z" fill="url(#paint4_linear_3666_113926)" stroke="url(#paint5_linear_3666_113926)"/>
                <defs>
                    <linearGradient id="paint0_linear_3666_113926" x1="120.332" y1="6.93457" x2="119.999" y2="228" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_3666_113926" x1="120.332" y1="6.93457" x2="124.518" y2="244.999" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_3666_113926" x1="391.3" y1="1" x2="390.948" y2="231.13" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_3666_113926" x1="391.3" y1="1" x2="395.726" y2="248.824" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_3666_113926" x1="656.329" y1="1" x2="655.957" y2="231.13" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FEF1F3"/>
                        <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear_3666_113926" x1="656.329" y1="1" x2="660.995" y2="248.815" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDAE3"/>
                        <stop offset="1" stop-color="#FFDAE3" stop-opacity="0"/>
                    </linearGradient>
                </defs>
            </svg>

            <div class="text-center space-y-4">
                <h1 class="text-pretty font-semibold text-2xl lg:text-3xl text-primary">{{ 'error.403.title'|trans|raw }}</h1>
                <p class="text-pretty mx-auto text-slate-600 font-light max-w-sm">{{ 'error.403.text'|trans|raw }}</p>
                <twig:Button variant="default" as="a" size="lg" href="{{ path('app_home') }}" class="mt-3">
                    {{ 'error.403.button'|trans|raw }}
                </twig:Button>
            </div>
        </div>
    </section>
{% endblock %}
