<turbo-stream action="replace" target="estimation-form">
    <template>
        <div id="estimation-form" class="bg-green-50 rounded-xl px-8 py-12 text-center">
            <div class="flex items-center justify-center mb-4">
                {{ ux_icon('lucide:circle-check', {'class':'text-green-600 size-12 lg:size-16'}) }}
            </div>
            <h3 class="text-xl font-semibold text-green-800 mb-3">
                {{ 'propertyManagement.form.success.title'|trans|raw }}
            </h3>
            <p class="text-green-700 text-base text-balance">
                {{ 'propertyManagement.form.success.text'|trans|raw }}
            </p>
        </div>
    </template>
</turbo-stream>
