{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.locale == 'fr' %}
        <a href="{{ path('app_blog_show', { _locale: 'fr', slugFr: post.slugFr }) }}">
            <!-- ... -->
        </a>
    {% else %}
        <a href="{{ path('app_blog_show', { _locale: 'en', slugEn: post.slugEn }) }}">
            <!-- ... -->
        </a>
    {% endif %}{% endblock %}
